ErrorDocument 404 /404.php


#--------------------------------------------------
# Répertoire : /articles/
#--------------------------------------------------

# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine on

#--------------------------------------------------
# Règles de réécriture d'URL :
#--------------------------------------------------


# Article avec numéro de page :
RewriteRule "accueil.html" "controllers/pages-controller.php" 
RewriteRule "parametres.html" "controllers/parameters-controller.php" 
RewriteRule "monfluxRSS.html" "controllers/pages-controller.php" 
RewriteRule "sujet1.html" "views/pages1.php" 
RewriteRule "sujet2.html" "views/pages2.php" 

ErrorDocument 404 http://myrssfeed.localhost/error404.php