/* GENERAL FONT  */
body {
    font-family: 'Spinnaker', sans-serif;                                            
}

/* HEADER */
.logo{
    height: 100px !important;
    width: 100px !important;
}
.title{
    font-family: 'SPORT NEWS', sans-serif;
}
/* header */